main {
  display: flex;
  height: 100vh;
  background: radial-gradient(circle, #086972 0%, #086972 35%, #042f38 100%);
}

.sideBar {

  padding: 20px;
  width: 10%;
  background-color: transparent;
  background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/1462889/pat.svg');
  box-shadow: inset 0 5px 10px 0 #000;
}

.sideBar .nav {
  display: flex;
  flex-direction: column;
}

.content {
  padding: 20px;
  flex-grow: 1;
  display: flex;
  width: 80%;
  justify-content: flex-start;
  grid-gap: 20px;
  background-color: transparent;
}


@media (min-width: 769px) and (max-width: 1024px) {
  .sideBar {
    width: 25%;
  }

  .content {
    width: 80%;
  }
}

@media (max-width: 768px) {
  .sideBar {
    width: 25%;
  }

  .content {
    width: 75%;
  }
}