@import url('./styles/reset.css');
@import url('./styles/variables.css');
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900');

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    padding: 10px;
    background-color: var(--secondary-color);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.8);
}

.nav-button {
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    border-radius: 5px;
    font-weight: bold;
    padding: 0.3rem 2rem;
    background-color: transparent;
    border: none;
    color: var(--primary-color);
    transition: box-shadow 0.3s ease-in-out;
    text-shadow: 1px 1px 1px var(--primary-color);
    cursor: pointer;
}

.nav-button:active {
    text-shadow: 1px 1px 1px var(--primary-color);
    background-color: transparent;
    color: var(--primary-color);
    box-shadow: inset 0 5px 10px 0 #000;
}

footer {
    left: 0;
    bottom: 0;
    padding-top: 0.5rem;
    width: 100%;
    height: 60px;
    background-color: var(--secondary-color);
    text-align: center;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.8);
}

@media (min-width: 769px) and (max-width: 1024px) {

    header {
        padding: 10px 40px;
    }

}

@media (max-width: 768px) {

    header {
        flex-direction: column;
        justify-content: center;
        padding: 10px 20px;
        text-align: center;
    }

    .nav-button {
        margin-top: 10px;
    }

}